%h1 Can't stop

%ul
  - games.each do |game|
    %li= link_to game.id, routes.game_path(game.id)

  = form_for :game, routes.games_path do
    - submit 'New game'

  = form_for :game, routes.games_path do
    - select :ai_type, [[:random, 'Random']]
    - submit 'New game with AI'
